.bottom-page{
    display: flex;
}

.right-container{
    background-color: aqua;
    height: 300px;
    width: 50%;
    padding: 60px;
}

.right-container input{
    border: none;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #3A5295;
    color: white;
}
