.footer-container-upper{
    display: flex;
    background-color: #00A2E1;
    height: 280px;
    width: auto;
    color: white;
}


.footer-container-upper input{
    border-radius: 8px;
    border:none;
    margin-top: 30px;
}
.footer-container-upper img{
    height: 30px;
}

.keep-in-touch-container{
    height:auto;
    width: 50%;
    margin: 50px 70px;
}
.keep-in-touch-container p{
    margin: 10px;
}

.keep-in-touch-container input{
    padding: 5px;
    width: 300px;
}

.lets-socialize-container{
    height:auto;
    width: 50%;
    margin-top: 50px;
}

.lets-socialize-container p{
    margin: 10px;
}

.footer-container-lower{
    background-color: black;
    width: auto;
    height:60px;
    padding:0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}


.footer-container-lower img{
    height: 30px;
}