.footer-container{
    background-color: black;
    width: auto;
    height:40px;
    padding:0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.footer-container img{
    height: 30px;
}