.title-second{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 30px;
}

.grid-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    align-items: center;
}

.button-see-cities{
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A5295;
    padding: 8px 16px;
    border-radius: 8px;
    width: 120px;
    text-decoration: none;
}

