.picture-and-details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 70px;
}

.home-address{
    display: flex;  
    align-items: center;
    justify-content: center;
}

.home-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: solid black 1px;
    border-radius: 16px;
}

.home-info-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    border-top: solid black 1px;
    padding: 30px
}

.home-grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-grid-item p{
    padding-bottom: 20px;
}

.main-picture{
    height: 400px;
    width: 620px;
    border-radius:16px;
}

.small-pictures{
    height: 132px;
    border-radius: 16px;
    padding: 0px 5px
}

.description-price-container{
    display: flex;
    margin: 70px 70px;
}

.home-info-description{
    width: 50%;
}

.description-title{
    font-size: 25px;
    margin-bottom: 30px;
}

.description-text{
    font-size: 17px;
    padding-right: 20px;
}

.bedroom-title{
    font-size: 25px;
    margin: 0px 10px 30px 10px;

}

.bedroom-price-grid-container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    width: 600px;
    border: solid 1px black;
    border-radius: 16px;
    padding: 25px 10px 0px 10px;
    margin-left: 10px;
}

.bedroom-price-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding: 10px;
    margin-left: 10px;
}

.key-features-container{
    margin: 70px 70px;
}

.key-features-title{
    font-size: 25px;
    padding-bottom: 30px;
}

.key-list{
    margin: 10px 0px;
}