
.bottom-page{
    display: flex;
}
.right-container{
    height: 400px;
    width: 50%;
    padding: 60px;
}
.right-container p{
    padding-left: 70px;
}
.right-container input{
    border: none;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #3A5295;
    color: white;
}
.last-info-button{
    display: flex;
    width: 140px;
    padding: 8px 8px;
    border-radius: 8px;
    border: none;
    background-color: #3A5295;
    color: white;
    margin: 30px 65px;
    text-decoration: none;
}
.right-container img{
    height: 50px;
    padding-right: 20px;
}
.best-selection{
    margin-bottom: 30px;
}
.icon{
    display: flex;
}

.title{
 display: flex;
}
.title img{
    height: 50px;
    width: 50px;
}
