.property-card{
    display: flex;
    flex-direction: column;
}

.property-card-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 16px;
    border: solid 1px gray;
}

.property-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.property-prices{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.property-rooms img{
    height: 30px;
}

.property-information{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3A5295;
    color: white;
    padding: 0px 10px;
}

.property-type-furnished{
    padding: 10px 10px;
}

.property-location-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.property-adress{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.property-rooms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.property-type-furnished{
    display: flex;
    justify-content: space-between;
}

.property-type-furnished img{
    height: 20px;
}

.property-view{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px black;
    padding: 10px;
}

.property-view img{
    height: 15px;
    padding-right: 7px;
}