.studentAccomodationPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleSearchByCity{
    font-size: 30px;
    padding: 30px;
}

.SearchGridContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.city-search-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 70px;
    width: 150px;
    border: black 1px solid;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.city-search-buttons{
    transition-duration: 0.4s;
  }
  
  .city-search-buttons:hover {
    background-color: #3A5295; 
    color: white;
    cursor: pointer;
  }


