.search-accomodation-title-homes{
    font-size: 30px;
}

.search-accomodation-page{
    padding-top: 50px;
}

.search-accomodation-grid-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-accomodation-grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content: center;
    gap: 50px;
}





.search-accomodation-bottom-description{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

}

.search-accomodation-bottom-description-left{
}

.search-accomodation-bottom-description-right{

}